Glab343.3.1

In [5]:
import pandas as pd
d = {"b": 1, "a": 0, "c": 2, "d":100}
pd.Series(d)

b      1
a      0
c      2
d    100
dtype: int64

In [17]:
import pandas as pd
d = {"a": 0.0, "b": 1.0, "c": 2.0}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [13]:
pd.Series(d, index=["b", "c", "d", "a"])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [14]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [2]:
import pandas as pd
pd.Series(5.0, index=["a","b", "c", "d", "e"])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

GLAB 343.3.2 creating pandas

In [4]:
import numpy as np
import pandas as pd

In [6]:
d = {'x': [1, 2, 3], 'y': [2, 4, 8], 'Z': 100}
pd.DataFrame(d)

   x  y    Z
0  1  2  100
1  2  4  100
2  3  8  100

In [8]:
import pandas as pd
patientID = [101,23,48,49]
name = ['alice','bob', 'charlie', 'eric']
date_of_birth = ['2003-01-01', '2023-01-02', '3/10/2020 143045' , '13th of october, 2023']
myDF = pd.DataFrame(zip(patientID, name,date_of_birth), columns=['patientID', 'name', 'date_of_birth'])
myDF

   patientID     name          date_of_birth
0        101    alice             2003-01-01
1         23      bob             2023-01-02
2         48  charlie       3/10/2020 143045
3         49     eric  13th of october, 2023

In [13]:
data = [{'x': 1, 'y': 2, 'z': 100}, 
     {'x': 2, 'y': 4, 'z': 100}, 
     {'x': 3, 'y': 8, 'z': 100}]
pd.DataFrame(data)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [22]:
data = [[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]]
df = pd.DataFrame(data, columns=['x', 'y', 'z'])
print(df)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [23]:
l = [[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]]

pd.DataFrame(l, columns=['x', 'y', 'z'])

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [26]:
stocks = ["IBM", "APPLE", "TWTTR", "GE", "MSFT"]
prices = [115.00, 119.14, 19.77, 25.99, 26]

pd.DataFrame(zip(stocks, prices), columns=['stocks', 'prices'])

  stocks  prices
0    IBM  115.00
1  APPLE  119.14
2  TWTTR   19.77
3     GE   25.99
4   MSFT   26.00

In [30]:
# This following line creates a NumPy array named arr.
arr = np.array([[1, 2, 100],[2, 4, 100],[3, 8, 100]])
# This following line creates a Pandas DataFrame named df and
df = pd.DataFrame(arr, columns=['x', 'y', 'z'])
df

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [31]:
arr[0, 0] = 1000
df

      x  y    z
0  1000  2  100
1     2  4  100
2     3  8  100

In [38]:
import pandas as pd 
technologies ={'course':["Spark","Pyspark", "Python", "Pandas"],
                'Fee':[20000,25000,20000,30000], 
                'Duration':['30days', '40days', '35days', '50days']}
index_labels=['r1', 'r2', 'r3', 'r4']
df1 = pd.DataFrame(technologies,index=index_labels)
print("first DataFrame:\n",df1)
technologies2 = {
    'Courses':["Spark","Java","Python","Go"],
    'Discount':[2000,2300,1200,2000],
              }
index_labels2=['r1','r6','r3','r5']
df2 = pd.DataFrame(technologies2,index=index_labels2)
print("Second DataFRame:\n", df2)

first DataFrame:
      course    Fee Duration
r1    Spark  20000   30days
r2  Pyspark  25000   40days
r3   Python  20000   35days
r4   Pandas  30000   50days
Second DataFRame:
    Courses  Discount
r1   Spark      2000
r6    Java      2300
r3  Python      1200
r5      Go      2000

In [ ]:
# Panda Joins

In [39]:
df3=df1.join(df2, lsuffix="_left", rsuffix="_right")
print("After joining two DataFrames:\n", df3)

After joining two DataFrames:
      course    Fee Duration Courses  Discount
r1    Spark  20000   30days   Spark    2000.0
r2  Pyspark  25000   40days     NaN       NaN
r3   Python  20000   35days  Python    1200.0
r4   Pandas  30000   50days     NaN       NaN

In [40]:
df3.shape

(4, 5)

In [43]:
df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='inner')
print(df3)

    course    Fee Duration Courses  Discount
r1   Spark  20000   30days   Spark      2000
r3  Python  20000   35days  Python      1200

In [47]:
# Pandas Right join DataFrames
df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='right')
print(df3)

    course      Fee Duration Courses  Discount
r1   Spark  20000.0   30days   Spark      2000
r6     NaN      NaN      NaN    Java      2300
r3  Python  20000.0   35days  Python      1200
r5     NaN      NaN      NaN      Go      2000

In [49]:
# Pandas join on columns
df3=df1.set_index('Courses').join(df2.set_index('Courses'), how='inner')
print(df3)

KeyError: "None of ['Courses'] are in the columns"

In [50]:
# Pandas join
df3=df1.join(df2.set_index('Courses'), how='inner', on='Courses')
print(df3)

KeyError: 'Courses'